a {
    color: #0d8ba1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
  }
    a:visited {
      color: #1a5952;
    }
    a:hover, a:focus {
      color: #0599c2;
      text-decoration: underline;
    }
body {
    background-color: burlywood;
    font-family: "vintage", Times, serif;
    margin: 100px;
    align-content: center;
}
.to_center {
    text-align: center;
}
.odd {
    background-color: aqua;
}
.even {
    background-color: #1a5952;
}
img {
    border: 5px solid black;
}
section {
    align-items: center;
    border: 5px solid black;
}
#colored {

}
ul {
    margin-left: 500px;
}
.tallwide {
    margin-left:200px;
}
.narrow {
    margin-left: 300px;
}
.wide {
    margin-left: 250px
}
p {
    margin-left: 30px;
    margin-right: 30px;
}
#floatingTop {
    position: fixed;
    top: 10px;
    right: 10px;
    background: blue;
}
.box {
    width: 100px;
    height: 25px;
    background: lightblue;
    color: white;
  }
  
#one {
    position: fixed;
    top: 550px;
    right: 10px;
    background: lightblue;
    text-align: center;
    border: 2px solid blue;
  }